#gallery {
  background: #fff;
  padding-top: 20px;
}
.categories {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.categories button {
  border: 1px solid #fff;
  background: transparent;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  color: #fff;
  background: #fa0c0c;
}
.categories button:hover {
  color: #fff;
  cursor: pointer;
  background: #930d0d;
}
.slick-dots {
  display: flex !important;
  list-style: none;
  justify-content: center;
  padding: 0;
}
.sliderImg {
  width: auto !important;
  margin: 0 auto !important;
  /* display: block !important; */
  height: 650px;
  transition: 1s ease-in;
}

.slick-dots li {
  cursor: pointer;
}
.sliderZoom {
}
@media screen and (max-width: 600px) {
  .categories button {
    padding: 5px;
    margin: 4px;
    font-size: 0.8em;
  }
}
